@media only screen and (max-width: $screen-xs-max) {
  body.sponsorships.show {
    h3 {
      margin-bottom: 15px;
    }

    .manage-sponsorship {
      margin-bottom: 15px;
      height: 200px;
    }

    ul {
      li {
        margin-top: 15px;
      }
    }
  }
}
