@media only screen and (max-width: $screen-xs-max) {
  body.users,
  body.profiles {
    .fb-asset {
      $fb-photo-size-mobile: 70px;
      &.fb-user-photo {
        height: $fb-photo-size-mobile;
        width: $fb-photo-size-mobile;

        .fb-logo {
          $fb-logo-mobile: 28px;
          border-width: 3px;
          bottom: -5px;
          height: $fb-logo-mobile;
          line-height: $fb-logo-mobile;
          right: -5px;
          width: $fb-logo-mobile;
        }
      }

      &.fb-connected {
        width: calc(100% - #{$fb-photo-size-mobile} - 20px - 5px);
      }
    }
  }

  // Users - Edit
  body.users.edit {
    .col-sm-6.pull-right {
      width: 100%;
    }

    .enrolled-sponsor {
      height: auto;
      margin: 0 0 15px;

      .enrolled-sponsor-logo {
        margin: 0 auto 40px;
        width: 235px;
      }
    }
  }

  // Users - Disable
  body.users.disable {
    ul {
      padding: 15px 0 20px;
      
      li {
        padding: 25px 15px;
      }
    }

    .things-you-can-do {
      a {
        display: block;
        margin-left: 0;
      }
    }
  }
}
