body.password {
  $logo-height: 100px;
  
  > #content {
    @include inner-container(12);
    text-align: center;
  }

  h3 {
    line-height: 1.3em;
  }

  .support {
    a {
      color: #999999;
    }
  }

  .UnifiedProduct {
    margin: 60px 0;

    &-logo {
      height: $logo-height;
      line-height: $logo-height;
    }
  }
}
