// Clarendon

@font-face {
  font-family: "Clarendon";
  src: font-url("clarendon/clarendon_text_pro.eot");
  src: font-url("clarendon/clarendon_text_pro.eot?#iefix") format("embedded-opentype"),
       font-url("clarendon/clarendon_text_pro.woff") format("woff"),
       font-url("clarendon/clarendon_text_pro.otf") format("opentype"),
       font-url("clarendon/clarendon_text_pro.svg") format("svg");
}
